* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  .navbar {
    background-color: #001368;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
   
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }
 
  
  .navbar a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .header {
    background-image: url('/img/logo.jpg');
    /* background:linear-gradient(to bottom, #27326A, #141c408f); */
    height: 650px;
    
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 3rem 1rem;
  }
 
  .logo {
    width: 150px;
    height: 80px;
    margin-right: 1rem;
  }
  .section {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .productos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
 
  }
  
  .pro {
    width: 30%;
    background-color: rgba(0, 38, 255, 0.495);
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  .pro_img {
    width: 150px;
    height: auto;
    border-radius: 5px;
  }
  .pro_titulo{
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 5px 5px 20px #ff04ff;
    color: rgb(0, 6, 8);
  }

  .contacto-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    gap: 1rem;
  }
  .grupo_elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }
  .grupo_elementos label {
    width: 30%;
    font-weight: bold;
    color: rgb(60, 115, 254);
  }
  .grupo_elementos input,
  .grupo_elementos textarea {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button{
    width: 100px;
    padding: 5px;
    margin:5px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .grupo_elementos button[type="submit"] {
   
    background-color: #00c3ff;
    color: rgb(0, 42, 255);
  
  }
  .grupo_elementos button[type="submit"]:hover {
    background-color: #00a3ff;
  }
  .grupo_elementos button[type="reset"] {
    background-color: #ff0000;
    color: white;
 
  }
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
  }
  
  .footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  